body {
	margin: 0;
	padding: 0;
	background: black;
}


body * {
	box-sizing: border-box;
}

#calculator {
	--key-size: 70px;

	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1rem;
}

#screen {
	display: block;
	padding: 1rem;
	width: 100%;
	background-color: inherit;
	border: none;
	height: 20vh;
	cursor: default;
	font-size: 2rem;
	color: #fff;
	text-align: right;
	/*overflow-x: auto;*/
}

.keypads {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(4, minmax(var(--key-size), 1fr));
	grid-template-rows: repeat(5, minmax(var(--key-size), 1fr));
	grid-gap: 0.5rem;
}

.key {
	border: none;
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
}
.key:hover {
	cursor: pointer;
}

.key:active {
	background-color: rgb(0, 255, 0);
	color: #000000;
}

#clear {
	grid-column: span 2;
	background-color: rgb(255, 0, 92);
}

#equal {
	grid-row: span 2;
	background-color: rgb(0, 255, 0);
	color: #000000;
}

#screen:focus, 
.key:focus {
	border: none;
}


@media (min-width: 576px){
	#calculator {
		width: 450px;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
	}
}